<!DOCTYPE html>
<html>

<head>

    <title>InfoSys Challenge</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static\css\general.css">

    <!-- MAPLIBRE -->
    <link
        href="https://unpkg.com/maplibre-gl@5/dist/maplibre-gl.css"
        rel="stylesheet"
    >

</head>

<body>

    <div id="pantalla">

        <div id="barraOpTel"></div>

        <div id="contenido">

            <div id="op"></div>

            <div id="map"></div>

        </div>

    </div>


    <!-- MAPLIBRE -->
    <script src="https://unpkg.com/maplibre-gl@5/dist/maplibre-gl.js"></script>

    <!-- TU JS -->
    <script src="static\js\js.js"></script>

</body>

</html>