<!DOCTYPE html>
<html>

<head>

    <title>InfoSys Challenge</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">

    <!-- MAPLIBRE -->
    <link
        href="https://unpkg.com/maplibre-gl@5/dist/maplibre-gl.css"
        rel="stylesheet"
    >

</head>

<body>

    <div id="pantalla">

        <div id="barraOpTel"></div>

        <div id="contenido">

            <div id="op">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('perfil') }}">Perfil</a>
                <a href="{{ url_for('config') }}">Configuración</a>
            </div>

            <div id="map">
               
                <div id="display-message">
                </div>    

            </div>
        </div>
    </div>


    <!-- MAPLIBRE -->
    <script src="https://unpkg.com/maplibre-gl@5/dist/maplibre-gl.js"></script>

    <!-- TU JS -->
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

</body>

</html>